{% extends 'base.html' %}
{% block head %}
<script>
	<!--小计-->
	function ctotal(cart_list) {
		numshow = cart_list.find('.num_show')
		num = parseFloat($(numshow).val());
		if(num < 1) {num = 1}
		$(numshow).val(num);

		price = parseFloat(cart_list.find('.gprice').text());

		money = cart_list.find('.col07').find('.ctotal');
		money.text((price * num).toFixed(2));
	}

	<!--总额-->
	function sum() {
		sum_money = 0;
		count = 0;
		$('.ctotal').each(function() {
			if($(this).parent().parent().find(':checkbox').prop('checked')) {
				sum_money += parseFloat($(this).text());
				count +=1;
			};
		});
		$('#csum').text(sum_money);
		$('.ccount').each(function() {$(this).text(count)});
	}

	function del_cart(cid) {
		var toDel = confirm("是否删除该项？");
		if (toDel) {
			$.get("/cart/del"+cid, function(data){
				if(data.ok == 1) {
					$('ul').remove('#' + cid);
					sum();
				}
			})
		}
	}

	$(function() {
		<!--先计算小计和总额-->
		$('.num_show').each(function() {
			ctotal($(this).parent().parent().parent());
		});
		sum();

		$('.add').click(function() {
			num_show = $(this).next()
			num = parseInt(num_show.val());
			num_show.val(num + 1);
			num_show.blur();
		})
		$('.minus').click(function() {
			num_show = $(this).prev()
			num = parseInt(num_show.val());
			if(num <= 1) {return}
			num_show.val(num - 1);
			num_show.blur();
		})

		<!--当商品数量改变时，改变金额-->
		$('.num_show').blur(function() {
			<!--cart_list = $(this).parent().parent().parent()-->
			cart_list = $(this).parents('.cart_list_td')
			ctotal(cart_list);
			sum();
			$.ajax('/cart/edit_' + cart_list.attr("id") + '_' + $(this).val(),'get')
		});

		<!--全选全消-->
		$('#check_all').click(function() {
			state = $(this).prop('checked');
			$(':checkbox:not(#check_all)').prop('checked',state);
			sum();
		});
		$(':checkbox:not(#check_all)').click(function() {
			if($(this).prop('checked')) {
				if($(':checked').length+1 == $(':checkbox').length) {
					$('#check_all').prop('checked',true)
				}
			}
			else{
				$('#check_all').prop('checked',false)
			}
			sum();
		});
	})

	function create_order() {
		var url = '/order/?';
		$('.cart_list_td').each(function() {
			var checkbox = $(this).find(':checkbox');
			if(checkbox.prop('checked'))
			{
				var cid = $(this).attr('id');
				url += ('c_id=' + cid + '&&')
			}
		})
		url = url.slice(0,-2)
		<!--console.log(url)-->
		window.location.href = url;
	}
</script>
{% endblock head %}

{% block search_bar %}
	<div class="search_bar clearfix">
		<a href="/goods/index/" class="logo fl"><img src="/static/images/logo.png"></a>
		<div class="search_con fl">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>
	</div>
{% endblock search_bar %}

{% block content %}
	<div class="total_count">全部商品<em class="ccount">{{carts_count}}</em>件</div>
	<ul class="cart_list_th clearfix">
		<li class="col01">商品名称</li>
		<li class="col02">商品单位</li>
		<li class="col03">商品价格</li>
		<li class="col04">数量</li>
		<li class="col05">小计</li>
		<li class="col06">操作</li>
	</ul>
	{% for c in carts %}
	<ul class="cart_list_td clearfix" id="{{c.id}}">
		<li class="col01"><input type="checkbox" name="checkbox" checked></li>
		<li class="col02"><a href="/goods/detail/{{c.goods.id}}"><img src="/{{c.goods.gpic}}"></a></li>
		<li class="col03">{{c.goods.gtitle}}<br><em>{{c.goods.gprice}}元/500g</em></li>
		<li class="col04">{{c.goods.gunit}}</li>
		<li class="col05"><span class="gprice">{{c.goods.gprice}}</span>元</li>
		<li class="col06">
			<div class="num_add">
				<a href="javascript:;" class="add fl">+</a>
				<input  type="text" class="num_show fl" value="{{c.count}}">
				<a href="javascript:;" class="minus fl">-</a>
			</div>
		</li>
		<li class="col07"><span class="ctotal">0</span>元</li>
		<li class="col08"><a href="javascript:del_cart({{c.id}});">删除</a></li>
	</ul>
	{% endfor %}

	

	<ul class="settlements">
		<li class="col01"><input type="checkbox" name="" checked="" id="check_all"></li>
		<li class="col02">全选</li>
		<li class="col03">合计(不含运费)：<span>¥</span><em id="csum"></em><br>共计<b class="ccount">{{carts_count}}</b>件商品</li>
		<li class="col04"><a href="javascript:create_order();">去结算</a></li>
	</ul>

{% endblock content %}
