{% extends 'base.html' %}
{% block head %}
	<script>
	$(function() {
			var total_money = 0;
			var total_count = 0;
			$('.goods_list_td').each(
				function() {
					<!--小计-->
					var count = parseFloat($(this).find('.col06').text());
					var price = parseFloat($(this).find('.col05').text());
					var money = price * count;
					var subtotal = $(this).find('.col07').find('.subtotal');
					subtotal.text(money.toFixed(2));
					<!--总计-->
					total_count += 1;
					total_money += money;
			})

			<!--总计-->
			$('.total_count').text(total_count);
			$('.total_money').text(total_money.toFixed(2));
			$('.sum_money').text((total_money + parseFloat($('.transit_money').text())).toFixed(2));
	})

    <!--function pad2(n) { return n < 10 ? '0' + n : n }-->

    <!--function generateTimeReqestNumber() {-->
        <!--var date = new Date();-->
        <!--return date.getFullYear().toString() + pad2(date.getMonth() + 1) + pad2(date.getDate()) + pad2(date.getHours()) + pad2(date.getMinutes()) ;-->
    <!--}-->

	function submit_order(){
        <!--var rand = Math.floor(Math.random() * 900) + 100;-->
        <!--var oid = generateTimeReqestNumber() + rand;-->
        <!--$.ajaxSetup({-->
        <!--data:  {csrfmiddlewaretoken: '{{ csrf_token }}',},-->
        <!--});-->

        var cart_ids = []
		$('.goods_list_td').each(
			function() {
				cart_ids.push($(this).attr('id'));
		})
        var sum_pay = parseFloat($('.sum_money').text());
        var oaddress = $('.address').text();
        var odata = {
            <!--oid: oid,-->
            cart_ids: cart_ids,
            ototal: sum_pay,
            oaddress: oaddress,
            csrfmiddlewaretoken: '{{ csrf_token }}',
        };

        <!--$.post('/order/handle/',odata,function(data) {},'json')-->
        $.post({
        	url: '/order/handle/',
        	dataType: 'json',
        	type: 'POST',
        	data: odata,
        })
        .done(function(data) {
			if(data.status == 1){
			  $('.popup_con p').text('订单提交成功！');
			  $('.popup_con').fadeIn('fast', function() {
				setTimeout(function(){
				  $('.popup_con').fadeOut('fast',function(){
					window.location.href = '/user/order_1/';
				  });
				},3000)
			  });
			}
			else if(data.status == 2){
			  $('.popup_con p').text('超出库存请修改！');
			  $('.popup_con').fadeIn('fast', function() {
				setTimeout(function(){
				  $('.popup_con').fadeOut('fast',function(){
					window.location.href = '/cart/';
				  });
				},3000)
			  });
			}
        })
	}
	</script>

{% endblock head %}

{% block content %}
	<div class="search_bar clearfix">
		<a href="/goods/index" class="logo fl"><img src="/static/images/logo.png"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;提交订单</div>
		<div class="search_con fr">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>		
	</div>
	
	<h3 class="common_title">确认收货地址</h3>

	<div class="common_list_con clearfix">
		<dl>
			<dt>寄送到：</dt>
			<dd><input type="radio" name="" checked=""><span class="address">{{user.uaddress}} （{{user.uname}} 收） {{user.uphone}}<span></dd>
		</dl>
		<a href="/user/site" class="edit_site">编辑收货地址</a>

	</div>
	
	<h3 class="common_title">支付方式</h3>	
	<div class="common_list_con clearfix">
		<div class="pay_style_con clearfix">
			<input type="radio" name="pay_style" checked>
			<label class="cash">货到付款</label>
			<input type="radio" name="pay_style">
			<label class="weixin">微信支付</label>
			<input type="radio" name="pay_style">
			<label class="zhifubao"></label>
			<input type="radio" name="pay_style">
			<label class="bank">银行卡支付</label>
		</div>
	</div>

	<h3 class="common_title">商品列表</h3>
	
	<div class="common_list_con clearfix">
		<ul class="goods_list_th clearfix">
			<li class="col01">商品名称</li>
			<li class="col02">商品单位</li>
			<li class="col03">商品价格</li>
			<li class="col04">数量</li>
			<li class="col05">小计</li>		
		</ul>
		{% for c in carts_list %}
		<ul class="goods_list_td clearfix" id="{{c.id}}">
			<li class="col01">{{forloop.counter}}</li>
			<li class="col02"><img src="/{{c.goods.gpic}}"></li>
			<li class="col03">{{c.goods.gtitle}}</li>
			<li class="col04">{{c.goods.gunit}}</li>
			<li class="col05">{{c.goods.gprice}}元</li>
			<li class="col06">{{c.count}}</li>
			<li class="col07"><span class="subtotal">0</span>元</li>
		</ul>
		{% endfor %}
	</div>

	<h3 class="common_title">总金额结算</h3>

	<div class="common_list_con clearfix">
		<div class="settle_con">
			<div class="total_goods_count">共<em class="total_count">0</em>件商品，总金额<b><span class="total_money">0.00</span>元</b></div>
			<div class="transit">运费：<b><span class="transit_money">10</span>元</b></div>
			<div class="total_pay">实付款：<b><span class="sum_money">0.00</span>元</b></div>
		</div>
	</div>

	<div class="order_submit clearfix">
        <!--<a href="javascript:submit_pay();" id="pay_btn">支付</a>-->
		<a href="javascript:submit_order();" id="order_btn">提交订单</a>
	</div>	

{% endblock content %}


{% block tail %}
	<div class="popup_con">
		<div class="popup">
			<p>订单提交成功！</p>
		</div>
		
		<div class="mask"></div>
	</div>
{% endblock tail %}