{% extends 'base.html' %}
{% block head %}
<script>
	<!--修改购物车数量-->
	$(function() {
		change_goods_count('/cart');
	})
	function change_goods_count(url) {
		$.get(url,function(dic){
			$('.goods_count').text(dic['count']);
		});

		<!--let r = new XMLHttpRequest();-->
		<!--r.open('GET', url, true);-->
		<!--r.responseType = 'json';-->
		<!--r.onreadystatechange = dic => {-->
			<!--if (r.readyState === 4) {-->
				<!--$('.goods_count').text(dic['count']);-->
			<!--}-->
		<!--}-->
		<!--r.send();-->
	}

</script>
{% block user_head %}{% endblock user_head %}
{% endblock head %}
{% block search_bar %}
	<div class="search_bar clearfix">
		<a href="/goods/index/" class="logo fl"><img src="/static/images/logo.png"></a>
		<form class="search_con fl" action="/search/" method="get"  target="_blank">
			<input type="text" class="input_text fl" name="q" placeholder="搜索商品">
			<input type="submit" class="input_btn fr" name="" value="搜索">
		</form>
		<div class="guest_cart fr">
			<a href="/cart" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl" id="show_count">1</div>
		</div>
	</div>
{% endblock search_bar %}