{% extends 'df_goods/base_goods.html' %}
{% block content %}
	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>	
				<span></span>			
				<ul class="subnav">
					{% for gtype in typelist %}
					<li><a href="#model01" class="gtype{{gtype.id}}">{{gtype.ttitle}}</a></li>
					{% endfor %}
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="/goods/index/">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="/goods/index">全部分类</a>
		<span>></span>
		<a href="/goods/list{{tid}}_1_1">{{title}}</a>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
					{% for g in news %}
					<li>
						<a href="/goods/detail/{{g.id}}"><img src="/{{g.gpic}}"></a>
						<h4><a href="/goods/detail/{{g.id}}">{{g.gtitle}}</a></h4>
						<div class="prize">￥{{g.gprice}}</div>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
				{% if sort == "1" %}
				<a href="/goods/list{{tid}}_{{pindex}}_1" class="active">默认</a>
				<a href="/goods/list{{tid}}_{{pindex}}_2">价格</a>
				<a href="/goods/list{{tid}}_{{pindex}}_3">人气</a>
				{% elif sort == "2" %}
				<a href="/goods/list{{tid}}_{{pindex}}_1">默认</a>
				<a href="/goods/list{{tid}}_{{pindex}}_2" class="active">价格</a>
				<a href="/goods/list{{tid}}_{{pindex}}_3">人气</a>
				{% elif sort == "3" %}
				<a href="/goods/list{{tid}}_{{pindex}}_1">默认</a>
				<a href="/goods/list{{tid}}_{{pindex}}_2">价格</a>
				<a href="/goods/list{{tid}}_{{pindex}}_3" class="active">人气</a>
				{% endif %}
			</div>

			<ul class="goods_type_list clearfix">
				{% for g in page %}
				<li>
					<a href="/goods/detail/{{g.id}}"><img src="/{{g.gpic}}"></a>
					<h4><a href="/goods/detail/{{g.id}}">{{g.gtitle}}</a></h4>
					<div class="operate">
						<span class="prize">￥{{g.gprice}}</span>
						<span class="unit">{{g.gprice}}/500g</span>
						<a href="javascript:change_goods_count('/cart/add_'+{{g.id}}+'_'+1);" class="add_goods" title="加入购物车"></a>
						<!--<a href="/cart/add_{{g.id}}_1" class="add_goods" title="加入购物车"></a>-->
					</div>
				</li>
				{% endfor %}
			</ul>

			<div class="add_jump"></div>

			<div class="pagenation">
				{% if page.has_previous %}
				<a href="/goods/list{{tid}}_{{page.previous_page_number}}_{{sort}}"><上一页</a>
				{% endif %}
				{% for p in pagenator.page_range %}
				{% if page.number == p %}
				<a class="active">{{p}}</a>
				{% else %}
				<a href="/goods/list{{tid}}_{{p}}_{{sort}}">{{p}}</a>
				{% endif %}
				{% endfor %}
				{% if page.has_next %}
				<a href="/goods/list{{tid}}_{{page.next_page_number}}_{{sort}}">下一页></a>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock content %}

{% block tail %}

	<script type="text/javascript">
		$('.add_goods').click(function(){
			var $add_x = $(this).offset().top;
			var $add_y = $(this).offset().left;

			var $to_x = $('#show_count').offset().top;
			var $to_y = $('#show_count').offset().left;

			$(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'})

			$(".add_jump").stop().animate({
				'left': $to_y+7,
				'top': $to_x+7},
				"fast", function() {
					$(".add_jump").fadeOut('fast',function(){
					});
			});
		})
	</script>
{% endblock tail %}


