<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/booktest/jquery-1.12.4.min.js"></script>
    <script>
        $(function() {//$就是jQuery的别称
            //使用ajax加载省份信息
            $.get('/booktest/area/pro/',function(dic) {//{'data':[[],[],[],]}
                //查询省份信息
                pros = $('#pro');
                $.each(dic.data, function(index, item) {
                    pros.append('<option value="'+item[0]+'">'+item[1]+'</option>')
                })
            });
            $('#pro').change(function() {
                $.get($(this).val()+'/city', function(dic) {
                    cities = $('#city');
                    cities.empty().append('<option value="0">请选择市</option>')
                    $.each(dic.data, function(index, item) {
                        cities.append('<option value="'+item['id']+'">'+item['title']+'</option>')
                    });
                });
            });
            $('#city').change(function() {
                $.get($(this).val()+'/dis', function(dic) {
                    dis = $('#dis');
                    dis.empty().append('<option value="0">请选择区</option>')
                    $.each(dic.data, function(index, item) {
                        dis.append('<option value="'+item['id']+'">'+item['title']+'</option>')
                    });
                });
            });
        });
    </script>
</head>
<body>
<select id="pro">
    <option value="0">请选择省</option>
</select>

<select id="city">
    <option value="0">请选择市</option>
</select>

<select id="dis">
    <option value="0">请选择区</option>
</select>
</body>
</html>